<ion-header [style.visibility]="content_visibility">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility" color="warning">
  <div class="cont">
    <ion-select placeholder="Seleccione la sección" [(ngModel)]="secc">
      <ion-select-option *ngFor="let s of seccion" [value]="s.id">{{s.sigla}}</ion-select-option>
    </ion-select>
    <ion-select placeholder="Seleccione el nombre" [(ngModel)]="nombre">
      <ion-select-option *ngFor="let a of ramo" [value]="a.id_ramo">{{a.nombre}}</ion-select-option>
    </ion-select>
    <div class="but">
    <button (click) ="toggleDisplay()">Generar Qr</button>
  </div>
  </div>
  <div [hidden]="isDisplay" class="contenedor">
    <ion-card color="primary" style="margin-top: 50px;" class="ion-text-center">
      <ion-card-content>
        <qrcode 
          [qrdata]="qrCodeString" 
          [width]="200" 
          [errorCorrectionLevel]="'M'">
        </qrcode>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>