<ion-content color="warning" [fullscreen]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIF="!menu"></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  shape="block" (click)="tomarF()" class="ass">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img img [src]="imageData" alt="foto" *ngIf="imageData[0]">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="12">
      <ion-item lines="none" class="ion-text-center">
        <ion-label>
          Profesor
          <p>Aplicaciones Moviles</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item color="warning">
      <ion-label>
        <ion-text >Nombre</ion-text>
        <p><ion-text color="primary">Manuel Alejandro Collao Contreras</ion-text></p>
      </ion-label>
      <ion-icon (click)="presentAlert()" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item  color="warning">
      <ion-label>
        <ion-text>Email</ion-text>
        <p><ion-text color="primary">man.collao@duocuc.cl</ion-text></p>
      </ion-label>
      <ion-icon (click)="presentAlert()" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item  color="warning">
      <ion-label>
        <ion-text>Telefono</ion-text>
        <p><ion-text color="primary">+569 21942525</ion-text></p>
      </ion-label>
      <ion-icon (click)="presentAlert()" slot="end" name="create"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
