<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menú
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="ass" (click)="ti()" >PERFIL</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="/assets/img/slide1.jpg" [routerLink]="'/codigo-qr'" alt="">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="/assets/img/slide2.jpg" [routerLink]="'/secciones'" alt="">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="/assets/img/slide3.jpg" [routerLink]="'/asistencia'"alt="">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="/assets/img/slide4.jpg" [routerLink]="'/asistencia'"alt="">
      </ion-card>
    </ion-slide>

  </ion-slides>
  <div class="contenedor"><a href="">
    <img src="/assets/img/qr.jpg" [routerLink]="'/codigo-qr'">
    <div class="centrado"><p>Codigo Qr</p></div>
  </a>
  <div class="a"></div>
  <a href="">
    <img src="/assets/img/asistencia.jpg" [routerLink]="'/secciones'" alt="">
    <div class="centrado2"><p>Secciones</p></div>
  </a>
  <div class="a"></div>
  
  </div>
  
  
</ion-content>

