<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Secciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-list-header lines="inset"><tr></tr>
    <ion-label color="primary">Seccion: PGY4121-002D</ion-label>
    <ion-button [routerLink]="'/lista-alumnos'"><ion-icon name="phone-portrait-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="'/asistencia'"><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  </ion-list-header>
  <ion-list-header lines="inset">
    <ion-label color="primary">Seccion: PGY4121-003D</ion-label>
    <ion-button [routerLink]="'/lista-alumnos'"><ion-icon name="phone-portrait-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="'/asistencia'"><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  </ion-list-header>
  <ion-list-header lines="inset">
    <ion-label color="primary">Seccion: PGY4121-006D</ion-label>
    <ion-button [routerLink]="'/lista-alumnos'"><ion-icon name="phone-portrait-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="'/asistencia'"><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  </ion-list-header>
  <ion-list-header lines="inset">
    <ion-label color="primary">Seccion: PGY4121-009D</ion-label>
    <ion-button [routerLink]="'/lista-alumnos'"><ion-icon name="phone-portrait-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="'/asistencia'"><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  </ion-list-header>
  <ion-list-header lines="inset">
    <ion-label color="primary">Seccion: PGY4121-012D</ion-label>
    <ion-button [routerLink]="'/lista-alumnos'"><ion-icon name="phone-portrait-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="'/asistencia'"><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  </ion-list-header>
</ion-content>
