<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Secciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-list-header lines="inset"><tr></tr>
    <ion-select placeholder="Seleccione la sección" [(ngModel)]="nombres">
      <ion-select-option *ngFor="let it of seccion" [value]="it.sigla +' '+ it.seccion +' '+ it.nombre">{{it.sigla}} {{it.seccion}}</ion-select-option>
    </ion-select>
    <ion-button (click)="et()"><ion-icon name="phone-portrait-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="'/asistencia'"><ion-icon name="clipboard-outline"></ion-icon></ion-button>
  </ion-list-header>

</ion-content>
