.titulo{
    text-align: center;
}
.boton-camara{
    position:absolute;
    margin: 80px 0px 0px 135px;
}

ion-content{
    * {
        font-family: lato;
    }
    .main-header{
        height: 25vh;
        width: 120%;
        background-color: #d1b746;;
        box-shadow: 0 1px 10px var(--ion-color-dark);
        border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        margin-top: -5px;
    }
    div{
        transform: translateY(2vh);
        ion-avatar{
            width: 13vh;
            height: 13vh;
            background: var(--ion-color-white);
            margin-bottom: 5px;
            border: 7px solid var(--ion-color-white);
            
        }
    }
}
ion-row{
    margin-top:-53px;
    ion-col{
        ion-item{
            width: 98%;
            margin: auto;
            border: 0.1px solid var(--ion-color-dark);
            box-shadow: 2px var(--ion-color-dark);
            border-radius: 8px;
        }
    }
}

