<ion-content>
  <img class="imagen" src="assets/img/icono.png" alt="">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Bienvenido</h1>
      <p>Iniciar sesión para continuar</p>
    </div>
    <div class="login-from ion-padding">
      <div class="from-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item >
          <ion-label position="floating">Correo Electronico</ion-label>
          <ion-input minlength="8" maxlength="25" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
      <div class="from-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="Password"></ion-input>
        </ion-item>
      </div>
    </div>
    
    <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-button size="small" class="login-button" (click)="ingresar()">Iniciar Sesión</ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <a [routerLink]="['/recuperar']"><p class="link">¿Has olvidado tu contraseña?</p></a>

  </div>
</ion-content>

