<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Noticia a Agregar</h2>

  <ion-item>
    <ion-label position="floating">Titulo de la Noticia</ion-label>
    <ion-input type="text" [(ngModel)]="correoUsuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Texto de la Noticia</ion-label>
    <ion-input type="text" [(ngModel)]="claveUsuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Texto de la Noticia</ion-label>
    <ion-input type="text" [(ngModel)]="nombreUsuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Texto de la Noticia</ion-label>
    <ion-input type="text" [(ngModel)]="rolUsuario"></ion-input>
  </ion-item>


  <ion-button shape="block" (click)="agregar()">Guardar Cambios</ion-button>

</ion-content>