.titulo{
    text-align: center;
}
ion-list{
    background-color: #006583;
}

.item{
    background-color: #006583;
}
.ass{
    font-size: 13px;
}
ion-content{
    * {
        font-family: lato;
    }
    .main-header{
        height: 25vh;
        width: 120%;
        background-color: #d1b746;;
        box-shadow: 0 1px 10px var(--ion-color-dark);
        border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        margin-top: -5px;
    }
    div{
        transform: translateY(2vh);
        ion-avatar{
            width: 13vh;
            height: 13vh;
            background: var(--ion-color-white);
            margin-bottom: 5px;
            border: 7px solid var(--ion-color-white);

            
        }
    }
}
ion-row{
    margin-top:-53px;
    ion-col{
        ion-item{
            width: 98%;
            margin: auto;
            border: 0.1px solid var(--ion-color-dark);
            box-shadow: 2px var(--ion-color-dark);
            border-radius: 8px;
            box-shadow: 0 0.2rem 0.3rem rgba(27, 27, 26, 0.89);
        }
    }
}

.login-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.651);
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    box-shadow: 0 2rem 3rem rgb(0, 0, 0);
    
    .heading{
      margin-top: 10px;
      h1{
        font-size: 1.6rem;
        font-weight: bolder;
      }
      p{
        font-size: 1rem;
        color: #7b7b7b;
      }
    }
    .login-from{
      position:relative;
      margin-bottom: 10px;
      ion-item:part(native){
        padding-left: 0 ;
      }
      ion-icon{
        position: relative;
        top: 38px;
        z-index: 2;
        font-size: 1.2rem;
        left: 10px;
      }
      ion-label{
        position: absolute;
        margin-left: 35px;
        font-weight: bolder;
        font-size: 0.8rem;
        top: 3px;
      }
      ion-input{
        font-size: 0.9rem;
        --padding-start: 36px;
        --padding-top: 30px;
        color: #7b7b7b;
      }
    }
    }
    
    ion-button{
    width: 100%;
    }
    
    .link ,p{
      font-size: 12px;
      color: blue;
    }
    .espacio{
        margin-top: 100px;
    }