<ion-content color="warning" [fullscreen]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIF="!menu"></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img img [src]="imageData" alt="foto" *ngIf="imageData[0]">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="12">
      <ion-item lines="none" class="ion-text-center">
        <ion-label>
          Carrera
          <p>Ingeneria en Informatica</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item color="warning">
      <ion-label>
        <ion-text >Nombre</ion-text>
        <ion-input minlength="2" maxlength="25" type="text" [(ngModel)]="perfile.nombre"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item  color="warning">
      <ion-label>
        <ion-text>Apellido</ion-text>
        <ion-input minlength="2" maxlength="25" type="text" [(ngModel)]="perfile.apellido"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item  color="warning">
      <ion-label>
        <ion-text>Email</ion-text>
        <ion-input minlength="2" maxlength="25" type="email" [(ngModel)]="perfile.email"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item  color="warning">
      <ion-label>
        <ion-text>Telefono</ion-text>
        <ion-input minlength="2" maxlength="25" type="number" [(ngModel)]="perfile.numero"></ion-input>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row class="espacio">
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-button size="small" class="login-button" (click)="ingresar()">Enviar cambios</ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

