<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Horario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <div class="contenedor">
  <ion-card>
    <ion-item color="danger">
    <ion-item color="secondary">
    <ion-card-title>
      Lunes
    </ion-card-title>
@ -19,179 +18,17 @@
    <ion-item>
          <ion-grid>
            <ion-row>
              <table>
                <thead>
                  <tr>
                    <th class="hora">Hora</th>
                    <th class="a">Asignatura</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td ><p class="numero">08:31-09:50</p> </td>
                    <td><p class="numero">Arquitectura</p></td>
                </tr>
                <tr>
                  <td ><p class="numero">10:01-11:20</p> </td>
                  <td><p class="numero">Calidad De Software</p></td>
              </tr>
              <tr>
                <td ><p class="numero">11:31-12:50</p> </td>
                <td><p class="numero">Pro. De Aplicaciones Moviles</p></td>
            </tr>
            <tr>
              <td ><p class="numero">11:31-12:50</p> </td>
              <td><p class="numero">Pro. De Aplicaciones Moviles</p></td>
          </tr>
                  </tbody>
                </table>
              <ion-col>
                Hora : 8:30
              </ion-col>
              <ion-col>
                Asignatura
              </ion-col>
              <ion-col>
                Sala
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="secondary">
      <ion-card-title>
        Martes
      </ion-card-title>
    </ion-item>
      <ion-item>
            <ion-grid>
              <ion-row>
                <table>
                  <thead>
                    <tr>
                      <th class="hora">Hora</th>
                      <th class="a">Asignatura</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td ><p class="numero">08:31-09:50</p> </td>
                      <td><p class="numero">Ingles Intermedio</p></td>
                  </tr>
                  <tr>
                    <td ><p class="numero">10:01-11:20</p> </td>
                    <td><p class="numero">Ingles Intermedio</p></td>
                </tr>
                <tr>
                  <td ><p class="numero">12:11-12:50</p> </td>
                  <td><p class="numero">Estadistica Descriptiva</p></td>
              </tr>
              <tr>
                <td ><p class="numero">13:01-13:40</p> </td>
                <td><p class="numero">Estadistica Descriptiva</p></td>
            </tr>
                    </tbody>
                  </table>
              </ion-row>
            </ion-grid>
          </ion-item>
      </ion-card>
      <ion-card>
        <ion-item color="tertiary">
        <ion-card-title>
          Miercoles
        </ion-card-title>
      </ion-item>
        <ion-item>
              <ion-grid>
                <ion-row>
                  <table>
                    <thead>
                      <tr>
                        <th class="hora">Hora</th>
                        <th class="a">Asignatura</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td ><p class="numero">08:31-09:50</p> </td>
                        <td><p class="numero">Etica Para El Trabajo</p></td>
                    </tr>
                    <tr>
                      <td ><p class="numero">10:01-11:20</p> </td>
                      <td><p class="numero">Arquitectura</p></td>
                  </tr>
                  <tr>
                    <td ><p class="numero">12:11-12:50</p> </td>
                    <td><p class="numero">Arquitectura</p></td>
                </tr>
                <tr>
                  <td ><p class="numero">13:01-13:40</p> </td>
                  <td><p class="numero">Calidad de Software</p></td>
              </tr>
                      </tbody>
                    </table>
                </ion-row>
              </ion-grid>
            </ion-item>
        </ion-card>
        <ion-card>
          <ion-item color="success">
          <ion-card-title>
            Jueves
          </ion-card-title>
        </ion-item>
          <ion-item>
                <ion-grid>
                  <ion-row>
                    <table>
                      <thead>
                        <tr>
                          <th class="hora">Hora</th>
                          <th class="a">Asignatura</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td ><p class="numero">08:31-09:50</p> </td>
                          <td><p class="numero">Ingles Intermedio</p></td>
                      </tr>
                      <tr>
                        <td ><p class="numero">10:01-11:20</p> </td>
                        <td><p class="numero">Ingles Intermedio</p></td>
                    </tr>
                    <tr>
                      <td ><p class="numero">12:11-12:50</p> </td>
                      <td><p class="numero">Estaditica Descriptiva</p></td>
                  </tr>
                        </tbody>
                      </table>
                  </ion-row>
                </ion-grid>
              </ion-item>
          </ion-card>
          <ion-card>
            <ion-item color="warning">
            <ion-card-title>
              Viernes
            </ion-card-title>
          </ion-item>
            <ion-item>
                  <ion-grid>
                    <ion-row>
                      <table>
                        <thead>
                          <tr>
                            <th class="hora">Hora</th>
                            <th class="a">Asignatura</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td ><p class="numero">10:41-11:20</p> </td>
                            <td><p class="numero">Pro. De Aplicaciones Moviles</p></td>
                        </tr>
                        <tr>
                          <td ><p class="numero">11:31-12:20</p> </td>
                          <td><p class="numero">Pro. De Aplicaciones Moviles</p></td>
                      </tr>
                          </tbody>
                        </table>
                    </ion-row>
                  </ion-grid>
                </ion-item>
            </ion-card>
  </div>
</ion-content>