.contenedor{
    max-width: 99%;
    margin: auto;
    ion-card{
        max-width: 100%;

        ion-card-title{
            font-size: 20px;
        }
        tr{
            width: 100%;
        }
        th {
            font-size: 14px;
            text-align: center;
        }
        .hora{
            width: 60px;
        }
        .numero{
            text-align: center;
            font-size: 11px;
        }
        .a{
            width: 200px;
        }
    }
}