<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Horario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <ion-item color="secondary">
    <ion-card-title>
      Lunes
    </ion-card-title>
  </ion-item>
    <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                Hora : 8:30
              </ion-col>
              <ion-col>
                Asignatura
              </ion-col>
              <ion-col>
                Sala
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-card>
</ion-content>
