<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-item color="warning">
    <ion-label color="primary" position="floating">Ingresa tu correo electronico</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="contenedor">
    <ion-button class="boton-camara" color="primary" (click)="enviar()">Enviar</ion-button>
  </div>
</ion-content>
