<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="ass" [routerLink]="'/alumno'">PERFIL</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor"><a href="">
    <img src="/assets/img/asistencia2.jpg" [routerLink]="'/asd'">
    <div class="centrado"><p>Asistencia</p></div>
  </a>
  <div class="a"></div>
  <a href="">
    <img src="/assets/img/calendario.jpg" [routerLink]="'/asd'" alt="">
    <div class="centrado2"><p>Horario</p></div>
  </a>
  <div class="a"></div>
  <a href="">
    <img src="/assets/img/qr1.jpg" [routerLink]="" alt="">
    <div class="centrado3"><p>Leer QR</p></div>
  </a>
  <div class="a"></div>
  
  </div>
  
  
</ion-content>

