<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button >
    </ion-buttons>
    <ion-title>
      Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="contenido">
    <ion-item lines="none" class="ion-text-center">
      <ion-label>
        Ingenieria en informatica
        <p>{{ nombre_p }}</p>
      </ion-label>
    </ion-item>
    <div class="cont">
      <p class="mp">3er Semestre</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Asignatura</th>
          <th class="a">Asistencia</th>
        </tr>
      </thead>
      <tbody *ngFor="let it of seccion">
        <tr *ngIf="it.id_estudiante == id">
          <td><p>{{it.nombre}} <br>{{it.sigla}} {{it.seccion}}</p> </td>
          <td><p class="numero">{{it.clases}}%</p></td>
      </tr>
      </tbody>
</table>
</div>
<div class="ass"></div>
</ion-content>